<!-- 投稿一覧画面 -->
<div class="post-wrap">
  <div class="post-content d-flex">
    <% @posts.each do |post| %>
      <div class="card" style="width: 18rem;">
        <%= link_to post_path(post.id) do %>
          <% if post.images.attached? %>
            <% post.images.each do |image| %>
              <%= image_tag image, class: "card-img-top" %>
            <% end %>
          <% end %>
          <div class="card-body">
            <span><i class="fas fa-heart mr-1" style="color: #EF4868;"></i><strong style="color: #000;"><%= post.favorites.count %></strong></span>
            <span><i class="fas fa-comments ml-2 mr-1" style="color: #000;"></i><strong style="color: #000;"><%= post.post_comments.count %></strong></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
