/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 共通 */
a:hover {
  color: #0056b3;
}

.field, .action {
  margin-bottom: 15px;
}

.signin-field {
  margin-bottom: 30px;
}

.signin-field-image {
  display: flex;
  justify-content: center;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.icon:last-child {
  margin-right: 0;
}

.signup-link {
  margin-left: 10px;
}