<!-- 通知一覧画面 -->
<h3 class="text-center">通知一覧</h3>
  <%= link_to notifications_destroy_all_path, method: :delete do %>
    <i class="fas fa-trash-can" style="color: #000;"></i>
    <span>全削除</span>
  <% end %>

<hr>

<% if @notifications.exists? %>
  <div class="notification-index">
    <%= render @notifications %>
  </div>
<% else %>
  <p>通知はありません</p>
<% end %>